<section class="registro">
  <article class="wraper">
    <div class="form-user">
      <h1>Registro de usuario</h1>
      <form [formGroup]="formUserRegistro" (ngSubmit)="crearUsuario()">
        <fieldset class="datos-usuario">
          <ion-icon name="person-outline"></ion-icon>
          <input type="text" id="" formControlName="nombreUsuario" placeholder="Nombre de usuario" [ngClass]="{'is-invalid animated shake': getNombreUsuario.invalid && getNombreUsuario.touched}">
          <div class="alert alert-danger mt-2" [hidden]="getNombreUsuario.valid || getNombreUsuario.pristine">
            El campo Usuario es obligatorio
          </div>
        </fieldset>
        <fieldset class="datos-usuario">
          <ion-icon name="mail-outline"></ion-icon>
          <input type="email" formControlName="email" id="" placeholder="Email"[ngClass]="{'is-invalid animated shake': getEmail.invalid && getEmail.touched}">
          <div class="alert alert-danger mt-2" [hidden]="getEmail.valid || getEmail.pristine">
            El campo Email es obligatorio
        </div>
        </fieldset>
        <fieldset class="datos-usuario">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password" formControlName="contrasena" id="" placeholder="Contraseña"[ngClass]="{'is-invalid animated shake': getContrasena.invalid && getContrasena.touched}">
          <div class="alert alert-danger mt-2" [hidden]="getContrasena.valid || getContrasena.pristine">
            <span *ngIf="getContrasena.errors?.['required']">
              El campo Password es obligatorio
            </span>
            <span *ngIf="getContrasena.errors?.['min']">
              La contraseña que ingresó es muy corta
            </span>
          </div>
        </fieldset>
        <button type="submit" [disabled]="formUserRegistro.invalid">Crear</button>
        <div class="login">
          <a href="../login"><p>¿Ya tiene una cuenta?Iniciar sesion</p></a>
        </div>
      </form>
    </div>
  </article>
  <div *ngIf="mostrarAceptar">
    <app-shared-alerts (aceptarClick)="aceptarAlerta()" [tipoalerta]="'Aceptar'" ></app-shared-alerts>
  </div>
  <div *ngIf="mostrarError">
    <app-shared-alerts (errorClick)="aceptarError()" [tipoalerta]="'Error'" ></app-shared-alerts>
  </div>
</section>
 
