<app-shared-menu></app-shared-menu>
<section class="principal">
  <h1 class="title">Sistema para viveros</h1>
  <ul>
    <li>
      <img src="../../../assets/undraw_designer_life_re_6ywf.svg" alt="">
      <div class="informacion">
       <h1>Dashboard</h1>
       <p>Presenta la información más reciente sobre las variables ambientales de las plantas en un vistazo.</p>
      </div>
    </li>
    <li>
      <img src="../../../assets/undraw_gardening_re_e658.svg" alt="">
      <div class="informacion">
        <h1>Lectura de variables</h1>
        <p>Utiliza dos sensores para medir las condiciones ambientales de las plantas, como humedad y temperatura, para verificar su estado actual.</p>
      </div>
    </li>
    <li>
      <img src="../../../assets/undraw_business_plan_re_0v81.svg" alt="">
      <div class="informacion">
        <h1>Analisis</h1>
        <p>Permite al viverista evaluar el estado de las plantas mediante gráficas y datos obtenidos, proporcionando una comprensión clara de su entorno de crecimiento..</p>
      </div>
    </li>
    <li>
      <img src="../../../assets/undraw_events_re_98ue.svg" alt="">
      <div class="informacion">
        <h1>Historial</h1>
        <p>Muestra un registro de todas las lecturas anteriores, con gráficas que resumen el promedio de las variables ambientales a lo largo del tiempo, facilitando el seguimiento de tendencias.</p>
      </div>
    </li>
  </ul>
</section>
<section class="responsive">
  <div class="img-responsive">
  </div>
  <div class="wave">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#0099ff" fill-opacity="1" d="M0,128L80,144C160,160,320,192,480,186.7C640,181,800,139,960,122.7C1120,107,1280,117,1360,122.7L1440,128L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
    </svg>
  </div>
  <div class="info-responsive">
  </div>
</section>
