@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
.principal{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 75%;
    height: 100vh; 
    margin-left: 25%;
    margin-top: 5%;
    overflow: hidden;
}
.principal .title{
    position: relative;
    width: 30%;
    left: 60%;
    top: -4%;
    font-size: 1.8em;
}
.principal ul{
    display: flex;
    padding: 0;
    height: 100%;
    width: 4000px;
    animation: slide 20s infinite alternate ease-in-out;
}
.principal li{
    width: 100%;
    height: 100%;
    left: 2%;
    list-style: none;
    position: relative;
}
.principal img{
    width: 65%;
    height: 65%;  
}
.informacion{
    position: absolute;
    text-align: center;
    left: 550px;
    padding: 0 125px;
    top: 150px;
}
@keyframes slide{
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}
//responsivo
@media (max-width: 380px) {
    .principal .title{
        left: 20%;
        width: 60%;
        text-align: center;
        font-size: 1.5em;
    } 
    .principal ul{
        display: flex;
        padding: 0;
        height: 100%;
        width: 2600px; /* Reducir el ancho para adaptarse a una pantalla de 380px */
        overflow: hidden; /* Asegura que el contenido no se desborde */
        animation: slide 20s infinite alternate ease-in-out;
    }
    .principal li{
        width: 100%;
        height: 100%;
        list-style: none;
        position: relative;
    }
    .principal img{
        width: 65%;
        height: auto; /* Ajustar la altura automáticamente para mantener la proporción */
    }
    .informacion{
        position: absolute;
        text-align: center;
        left: 10px; /* Ajustar la posición de la información */
        right: 10px; /* Ajustar la posición de la información */
        top: 150px;
    }
}
@media (max-width: 400px) {
    
}
@media (max-width: 420px) {
    
}
@media (max-width: 480px) {
    
}
@media (max-width: 550px) {
    
}
@media (max-width: 720px) {
    
}
@media (max-width: 850px) {
    
}
@media (max-width: 1024px) {
    
}
