@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
.cuenta{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 75%;
    height: 110vh; 
    margin-left: 25%;
}
.perfil{
    width: 100%;
    height: 40vh;
    margin-top: 3%;
}
.avatar{
    width: 23%;
    height: 38vh;
    border-radius: 50%;
    margin-left: 15%;
    float: left;
    border: 1px solid #000;
}
.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
}
.usuario{
    position: relative;
    left: 10%;
    top: 35%;
}
.info{
    background-color: rgba(215, 228, 192, 0.473);
    height: 50vh;
    width: 90%;
    margin: auto;
    border-radius: 10px;
}
.info h1{
    margin-left: 10%;
}
.informacion{
    width: 80%;
    margin: auto;
}
.Nusuario{
    float: left;
    width: 45%;
    height: 10vh;
}
.Nusuario p{
    margin-top: 10%;
    border-bottom: 2px solid #000;
}
.Cusuario{
    height: 10vh;
    float: right;
    width: 45%;
}
.Cusuario p{
    margin-top: 10%;
    border-bottom: 2px solid #000;
}
  .b-guardar{
    //position: relative;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    width: 40%;
    height: 10vh;
    border-radius: 10px;
    font-size: 1.5em;
    margin-left: 55%;
    margin-top: 10%;
  }
  .b-close{
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    width: 40%;
    height: 10vh;
    border-radius: 10px;
    font-size: 1.5em;
    display: flex;
    margin-top: -61px;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    }
  //responsivo
  @media screen and (max-width: 1024px){
    .cuenta{
        width: 100%;
        height: 100%;
        margin: 0;

    }
    .avatar {
        height: 30vh;
        width: 40%;
        margin-top: 5%;
    }
    .usuario h1{
        font-size: 3em;
    }
    .info{
        height: 40vh;
    }
    .info h1{
        font-size: 2em;
    }
    .Nusuario label{
        font-size: 1.5em;
    }
    .Nusuario p{
        font-size: 1.5em;
    }
    .Cusuario label{
        font-size: 1.5em;
    }
    .Cusuario p{
        font-size: 1.5em;
    }
    .b-guardar{
        width: 30%;
        height: 7vh;
    }
    .b-close{
        width: 30%;
        height: 7vh;
        margin-top: -10%;
        margin-left: 15%;
    }
}
@media screen and (max-width: 850px){
    .usuario h1{
        font-size: 2.5em;
    }     
}
@media screen and (max-width: 550px){
    .info{
        height: 45vh;
    }
    .b-close{
        margin-top: -10%;
    }
    .b-guardar{
        margin-top: 20%;
    }
}
@media screen and (max-width: 480px){
    .Cusuario{
        margin-top: 10%;
    } 
    .b-close{
        width: 35%;
        height: 8vh;
        margin-top: -12%;
    } 
    .b-guardar{
        width: 35%;
        height: 8vh;
    }
}
@media screen and (max-width: 420px){
   .usuario h1{
    font-size: 2em;
   } 
   .b-close{
    width: 37%;
   }  
   .b-guardar{
    width: 37%;
   }
}
@media screen and (max-width: 400px){
    .usuario h1{
        font-size: 1.2em;
    }
    .info{
        height: 45vh;
    }
    .info h1{
        font-size: 1.5em;
    }
    .Nusuario label{
        font-size: 1em;
    }
    .Nusuario p{
        font-size: 1em;
    }
    .Cusuario{
        margin-top: -1%;
    }
    .Cusuario label{
        font-size: 1em;
    }
    .Cusuario p{
        font-size: 1em;
    }
    .b-guardar{
        width: 40%;
        height: 9vh;
    }
    .b-close{
        width: 40%;
        height: 9vh;
        margin-left: 5%;
        margin-top: -14%;
    }  
}
