<app-shared-menu></app-shared-menu>
<section class="cuenta">
        <div class="perfil">
            <div class="avatar">
                <img src="../../../../assets/plants-8264659_1280.jpg" class="famele">
            </div>
            <div class="usuario" *ngIf="Usuario">
                <h1>{{Usuario.nombreUsuario}}</h1>
            </div>
        </div> 
        <div class="info">
            <h1>Mi informacion</h1>
            <div class="informacion" *ngIf="Usuario">
                <div class="Nusuario">
                    <label>Nombre de usuario:</label>
                    <p>{{Usuario.nombreUsuario}}</p>
                </div>
                <div class="Cusuario">
                    <label>Correo:</label>
                    <p>{{Usuario.email}}</p>
                </div>
            </div>
            <button class="b-guardar" (click)="deletUser()">Eliminar cuenta</button>
            <button class="b-close" (click)="close()">Cerrar session</button>
        </div>
        <div *ngIf="mostrarEliminar">
            <app-shared-alerts (questionSi)="eliminarSi()" (questionNo)="eliminarNo()" [tipoalerta]="'Question'"></app-shared-alerts>
        </div>
        <div *ngIf="mostrarAlerta">
            <app-shared-alerts (questionSi)="alertSi()" (questionNo)="alertNo()" [tipoalerta]="'Question'"></app-shared-alerts>
        </div>
        
</section>
