@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
.Dashboard{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 75%;
    height: 100vh; 
    margin-left: 25%;
    margin-top: -10%;
}
.Dashboard h1{
    font-size: 1.5em;
    margin-left: 5%;
}
.informacion{
    display: flex;
    margin-left: 15%;
    margin-top: -3.5%;
}
.info-label{
    padding-left: 5%;
}
.label-planta{
    font-size: 1em;
}
.label-fecha{
    font-size: .9em;
}
button {
    display: inline-block;
    border-radius: 4px;
    background-color: #5fa08c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin: -25% 780%;
    //z-index: 5;
} 
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}
button:hover span {
    padding-right: 15px;
}
button:hover span:after {
    opacity: 1;
    right: 0;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Opacidad ajustable */
    z-index: 99; /* Un valor menor que el modal */
  }
   .form-planta{
    width: 10vw;
    height: 8vh;
    margin-left: 10%;
}
select{
    position: absolute;
    left: 50%;
    top: 70px;
}
.planta{
    position: absolute;
    left: 23%;
    top: 70px;
}
.form-buton{
    margin-top: 32%;
    margin-left: 10%;  
}
.aceptar{
    position: absolute;
    margin-left: 60%;
    margin-top: -8%;
}
.form-select{
    border-radius: 10px;
    z-index: 100;
    width: 30vw;
    height: 30vh;
    position: relative;
    margin-top: 100px;
    margin-left: 400px;
    background-color: #FFF
}
.datos-sensor{
    margin-top: 5%;
    width: 100%;
}
.grafica{
    width: 50%;
    height: 60vh;
    margin-left: 5%;
    margin-top: 2%;
}

.grafica h2{
    text-align: center;
}

.descripcion{
    //background-color: #b8c7c7; 
    width: 37%;
    height: 60vh;
    margin-left: 60%;
    margin-top: -39%;
}
.img-descripcion img{
    width: 33%;
    height: 19vh;
    border-radius: 100px;
    margin-top: 5%;
    margin-left: 35%;
    //object-fit: contain;
}
.info-descripcion{
    width: 400px;
    //position: relative;
    //right: 7%;
    z-index: 0;
    bottom: 4%;
}
.card {
    width: 210px;
    height: 100px;
    background: #5fa08c;
    box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px, rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
    text-align: center;
    cursor: pointer;
    border-radius: 2%;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: #fff;
    float: left;
    margin-left: 10%;
  }
  
  .card:hover {
    transform: scale(1.021);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.1deg);
  }
  //clases para las targetas 
  .temperatura-rojo{
    background: #EB3349;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  .temperatura-verde{
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .humedad-rojo{
    background: #EB3349;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  .humedad-verde{
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  //responsivo

@media screen and (max-width: 1024px) {
    .Dashboard{
        width: 100%;
        height: 100vh;
        margin: 0;
        font-size: 1.5em;
        margin-left: 10%;
        margin-top: -5%;
    }
    button{
        margin-top: 20%;
        margin-left: 750px;
    }
    .informacion{
        width: 50%;
        font-size: 1.1em;
        margin-top: 2%;
        margin-left: 3%;
    }
    .datos-sensor{
        width: 100%;
        height: 100%;
        margin-top: 1%;
        margin-left: -10%;
    }
    .grafica{
        height: 35%;
        width: 80%;
        margin-left: 10%;
    }
    .descripcion{
        width: 80%;
        height: 35%;
        margin-left: 10%;
        margin-top: 10%;
    }
    .img-descripcion{
        height: 7px;
        width: 90%;
        margin-left: -25%;
        //display: none;
    }
    .info-descripcion{
        width: 50%;
        margin-left: 45%;
        margin-top: -10%;
    }
    .card{
        margin-top: 2%;
    }
}
@media screen and (max-width: 850px) {
    .card{
        margin-left: 7%;
        box-shadow: none;
    }
    button{
        margin-top: 20%;
        margin-left: 720%;
    }
}
@media screen and (max-width: 720px) {
  .grafica{
    height: 30%;
    width: 70%;
    margin-left: 15%;
  }
  .info-descripcion{
    font-size: .9em;
  }
  .card{
    margin-left: 4%;
  }
  button{
    margin-left: 700%;
  }

}
@media screen and (max-width: 550px) {
    .informacion{
        width: 80%;
    }
    .grafica{
        height: 30%;
        width: 80%;
        margin-left: 10%; 
    }
    .info-descripcion{
        font-size: .7em;
        width: 70%;
    }
    .card{
        margin-top: -4%;
        width: 28%;
        height: 10vh; 
    }
    button{
        margin-left: 650%;
    }
}
@media screen and (max-width: 480px) {
    .Dashboard{
        font-size: 1.3em;
    }
    .grafica{
        margin-left: 12%;
        width: 75%;
        height: 29%;
    }
    .info-descripcion{
        //margin-top: 1%;
        font-size: .7em;
    }
    button{
        margin-left: 600%;
    }
}
@media screen and (max-width: 420px) {
    .Dashboard{
        font-size: 1.2em;
    }
    .info-descripcion{
        width: 100%;
        margin-left: 5%;
        margin-top: 2%;
    }
    .img-descripcion{
        display: none;
    }
    button{
        margin-left: 550%;
    }
}
@media screen and (max-width: 400px) {
    .Dashboard{
        font-size: 1em;
    }  
    .info-descripcion{
        font-size: .8em;
        margin-top: 1%;
    }
}
@media screen and (max-width: 380px) {
    .Dashboard{
        font-size: .9em;
    }
    .grafica{
        margin-top: -1%;
    }
    .info-descripcion{
        width: 100%;
        margin-top: 5%;
        font-size: .8em;
        //z-index: 1;
    }
    .card{
        margin-top: -1.8%;
    }
    button{
        margin-left: 500%;
    }
}